<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}} | Upstage Component</title>
    <link rel="stylesheet" href="{{assets}}/upstage.css">
    <link rel="stylesheet" href="{{assets}}/base.css">
    <link rel="stylesheet" href="{{assets}}/{{title}}.css">
    <link rel="stylesheet" href="{{assets}}/docs.css">
  </head>
  <body>

    {{! Navbar
    ================================================== }}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="navbar-brand" href="{{relative this.dest "index.html"}}">UPSTAGE</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="brand-subtitle">Component</li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <li> <a href="https://github.com/upstage/{{title}}/">GitHub Repo</a> </li>
              <li> <a href="https://github.com/upstage/{{title}}/issues">Issues</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{! Subhead
    ================================================== }}
    <div class="masthead subhead">
      <div class="container">
        <h1>{{titleize title}} Component</h1> {{!gh-buttons title}}
      </div>
    </div>

    {{! Page content
    ================================================== }}
    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-lg-3">
          <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
            {{#each component}}
              <li> <a href="#{{@key}}-{{../title}}">{{titleize @key}} {{../title}}</a> </li>
            {{/each}}
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          {{> body }}
        </div>
      </div>
    </div>
    <script src="{{assets}}/highlight.js"></script>
    <script src="{{assets}}/holder.js"></script>
  </body>
</html>